body{
    text-align: left;
    background-color: hotpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.Portrait{
    border-radius: 50%;
    width: 185px;
    height: 150px;
    margin-left: 38rem;
}
.H1{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: xx-large;
    font-weight:900;
    text-align: center;
}
.P1{
    color:chartreuse;
}
div{
    margin-left: 8rem;
}
img{
    width: 350px;
    height: 200px;
}
.LP{
    text-decoration: underline;
}
.List{
    color: turquoise;
}
.contact{
    text-decoration: underline;
}
.Button{
    text-decoration: none;
}
input{
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
table{
    border: 1px;
    border-collapse: collapse;
}