#headerbackground{
    background-color: whitesmoke;
    height: 30px;
}
.fa-globe{
    margin-top: 1.5px;
    font-size: 1.5rem;
    margin-left: 40px;
}
/* .global{
    margin-top: -2.6rem;
    margin-left: 64px;
    font-size: 13px;
}
.secondheader p{
    display: inline;
    margin-left: 30px;
    font-weight: bold;
}
.secondheader{
    margin-left: 40rem;
    margin-top: -1.99rem;
}
.post{
    color: rgb(4, 119, 4);
}
.Bolt{
    font-size: 50px;
    color:rgb(43, 238, 43);
    font-weight: bolder;
    margin-left: 40px;
    margin-top: -2px;
}
.services p{
    display: inline;
    margin-left: 18px;
}
.services{
    margin-left: 8rem;
    margin-top: -4.99rem;
    font-weight: 100;
}
.part{
    margin-left: 110px;
    margin-top: -1.1rem;
}
.comp{
    margin-left: 279px;
    margin-top: -1.1rem;
}
.others{
    margin-left: 405px;
    margin-top: -1.1rem;
} */