.headerbackground{
    background-color: whitesmoke;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.header1{
    display: flex;
    font-size: 20px;
}
.header1 p{
    margin: 7px 4px 0px 0px;
    padding: 0px 5px;

}
.header1 .fa-globe{
    font-size: 2rem;
    margin: -1.5px 0px 0px 0px;
}
.title{
    font-size: 14px;
}
.header2 ul{
    display: flex;
}
li{
    margin: -9px 2rem 0px 0px;
    list-style-type: none;
    font-weight: 800;
}
.services{
    color: rgb(15, 226, 15);
}
.content{
    display: flex;
}
.content p{
    margin: 0px 60px 0px 0px;
}
.company{
    font-size: 4rem;
    color: rgb(21, 231, 13);
}
.dropdown{
    display: flex;
    margin: 2rem 0.5px 0px 0px;
}
.image{
    background-color: rgb(124, 199, 11);
    width: 50%;
    height: 29rem;
    margin: 2px 0px 0px 0px;
}.offer{
    text-align: left;
    font-size: 70px;
    margin: 0px 0px 0px 0px;
    padding: 30px;
}
.container{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    color: white;
}
img{
    height: 29rem;
    width: 50%;
}